<!-- test -->
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<!-- test -->

<div class="header">
  <h1>Blogs</h1>
</div>

<div id="blogs">
  <%= render @blogs %>
</div>

<div>
  <%= render 'blogs/form', blog: @blog || Blog.new %>
</div>
