<%= turbo_stream_from "blogs" %>

<div class="header">
  <h1>Blogs</h1>
</div>

<div id="blogs">
  <%= render @blogs %>
</div>

<%= link_to "New blog", new_blog_path, class: 'new-link', data: { turbo_frame: 'modal' } %>
