@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}


html[data-turbo-visit-direction="forward"]::view-transition-old(*) {
  animation: slidein 0.5s;
}

body {
  background-color: #f5f5f5;
}

.container {
  width: 80%;
}

@media (max-width: 767px) {
  .container {
    width: auto;
  }
}

.header {
  width: 100%;
}

h1 {
  text-align: center;
}

.new-link {
  display: block;
  text-align: center;
  margin: 20px 0;
}

a {
  color: #e74c3c;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.flashes {
  margin: 0.75rem;
}
